.page {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 60% 1fr;
    background-color: #EDEEEE;
}

.main {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.marg {
    display: flex;
    justify-content: center;
    align-items: center;

    button {
        opacity: 0.5;
        transition: 0.2s;

        &:hover {
            opacity: 1.0;
        }
    }
}

.flashcard {
    background-color: #8DC2F6;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
}

.nav {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 20px;

    button {
        margin-left: 10px;
        opacity: 0.5;
        transition: 0.2s;

        &:hover {
            opacity: 1.0;
        }
    }
}