.page {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 60% 1fr;
    background-color: #EDEEEE;
}

.flashcard {
    background-color: #8DC2F6;
    margin: 0 25vw;
    border-radius: 20px;
}

.nav {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 20px;

    button {
        margin-left: 10px;
        opacity: 0.5;
        transition: 0.2s;

        &:hover {
            opacity: 1.0;
        }
    }
}